.body {
    background-color: whitesmoke;
}

/*---structural classes---*/

.headerContainer {
    height: 100vh;
}

#header {
    background-color: #03989E;
    
}

.landingImage{
    background-image: url(/images/landingImage.jpg);
    background-size: cover;
    background-position: center;
    text-shadow: 1px 1px 3px black;
    height: 70vh;
}

.businessCard{
    background-color: #03989E;
  
}

#profileImage {
    background-image: url(/images/master_image.JPG);
    background-size: cover;
    background-position: center;
    height: 150px;
    max-width: 70%;
    border-radius: 50%;
    margin: 0 auto;
}

.headline {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px 5px 0px;


}

.col-md-6 {
    align-items: center;
    justify-content: center;
    align-content: center;
}

.fullScreenBgWrapper {
    background-color: #03989E;
    color: white;
}

.nonColSection {
    width: 70%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.businessHours {
    width: 70%;
    margin: 0 auto;
}

.page-footer {
    background-color: #03989E;
}

.faqHead{
    min-height: 50vh;
    
}

/*---utility classes---*/

.sectionHeader {
    color: #03989E;
}

.underLine {
    width: 80%;
    background-color: #03989E;
    height: 2px;
    margin: 20px auto 0px auto;

}



/*---Media queries---*/
@media only screen and (min-width: 950px) {

    /*---Stops the header contnet from scaling up indefinetly---*/
    .appLimit {
        width: 950px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 950px) {

    /*---Avoids image scaling problems by adjusting max width---*/
    #profileImage {
        background-image: url(/images/master_image.JPG);
        background-size: cover;
        background-position: center;
        height: 150px;
        max-width: 85%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0 auto;
    }
}


@media only screen and (max-width: 767px) {

    /*---Avoids image scaling problems---*/
    #profileImage {
        background-image: url(/images/master_image.JPG);
        background-size: cover;
        background-position: center;
        height: 150px;
        max-width: 40%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 360px) {

    /*---Avoids image scaling problems---*/
    #profileImage {
        display: none;
    }
}